{
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "@babel/transform-runtime",
    ["@babel/plugin-proposal-class-properties", {"loose": true}],
    ["transform-class-properties",{"loose": true}],
    "istanbul",
    ["@babel/plugin-proposal-private-methods",{"loose": true}],
    ["@babel/plugin-proposal-private-property-in-object",{"loose": true}]
  ],
  "presets": [[
    "@babel/preset-env",
    {
      "useBuiltIns": "usage",
      "targets": ">1%, not dead, not ie 11",
      "corejs": 3
    }
  ]]
}
