:root {
    /* OLD COLOURS */
    /*--main-bg-color: #0c2f4c;*/
    --main-color-darker: #09243a;
    --main-color-link: #286090;
    --main-color-hover: #23527c;
    --main-color-grey: #f5f5f5;

    /* NEW COLOURS */
    --zetta-color-primary-orange: #E25C1C;
    --zetta-color-primary-turquoise: #2AB7C8;
    --zetta-color-primary-yellow: #FBC442;
    --zetta-color-primary-apple: #70AD47;

    --zetta-color-secondary-orange: #CE1A47;
    --zetta-color-secondary-turquoise: #3C61D1;
    --zetta-color-secondary-yellow: #5E3AAC;
    --zetta-color-secondary-apple: #88387E;

    --badgets-color-red: #CD4B5B;
    --badgets-color-green: #0FAC25;
    --badgets-color-blue: #1799DD;

    --main-bg-color: #17224D;
    --main-bg-color-darker: hsl(228, 54%, 18%);
    --main-color-white: #FBFCFF;

    --main-color-raisin-grey: #1D2229;
    --main-color-gummental-grey: #2C3036;
    --main-color-davys-grey: #4B5057;
    --main-color-french-grey: #B3B4BD;
    --main-color-antiflash-grey: #F6F7F9;

    --footer-color-bg-dark: hsl(222, 23%, 38%);
    --footer-color-bg: hsl(222, 23%, 42%);
    --footer-color-bg-light: hsl(222, 23%, 72%);

    --footer-color-deflt-blue: hsl(223, 33%, 29%);
    --footer-color-payne-blue: hsl(222, 20%, 45%);
    --footer-color-cool-blue: hsl(223, 22%, 57%);
    --footer-color-powder-blue: hsl(223, 34%, 73%);
    --footer-color-highlight: hsl(223, 36%, 75%);
}

html {
    /* 13px use this size by default*/
    /*font-size: 0.875rem;*/
    font-size: 0.8125rem;
}

body,
* {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
    color: var(--main-bg-color) !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

a#waffle-icon-wrapper {
    padding: 10px;
}

#waffle-icon {
    background-image: url("data:image/svg+xml;base64, PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxNzUuMyAxNjguNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTc1LjMgMTY4LjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZGlzcGxheTpub25lO30KCS5zdDF7ZGlzcGxheTppbmxpbmU7ZmlsbDojNUM1QzVDO3N0cm9rZTojRkZGRkZGO3N0cm9rZS13aWR0aDo2O3N0cm9rZS1taXRlcmxpbWl0OjEwO30KCS5zdDJ7ZmlsbDojRkZGRkZGO3N0cm9rZTojRkZGRkZGO3N0cm9rZS13aWR0aDo2O3N0cm9rZS1taXRlcmxpbWl0OjEwO30KPC9zdHlsZT4KPGcgaWQ9IkxpdmVsbG9fMiIgY2xhc3M9InN0MCI+Cgk8cmVjdCB4PSItMC41IiBjbGFzcz0ic3QxIiB3aWR0aD0iMTc1LjMiIGhlaWdodD0iMTY4LjQiLz4KPC9nPgo8ZyBpZD0iTGl2ZWxsb18xIj4KCTxnPgoJCTxjaXJjbGUgY2xhc3M9InN0MiIgY3g9IjQ0IiBjeT0iNDEuMSIgcj0iNy4yIi8+CgkJPGNpcmNsZSBjbGFzcz0ic3QyIiBjeD0iNDQiIGN5PSI4NC4yIiByPSI3LjIiLz4KCQk8Y2lyY2xlIGNsYXNzPSJzdDIiIGN4PSI0NCIgY3k9IjEyNy4yIiByPSI3LjIiLz4KCQk8Y2lyY2xlIGNsYXNzPSJzdDIiIGN4PSIxMzAuMSIgY3k9IjEyNy4yIiByPSI3LjIiLz4KCQk8Y2lyY2xlIGNsYXNzPSJzdDIiIGN4PSI4Ny4xIiBjeT0iMTI3LjIiIHI9IjcuMiIvPgoJCTxjaXJjbGUgY2xhc3M9InN0MiIgY3g9Ijg3LjEiIGN5PSI0MS4xIiByPSI3LjIiLz4KCQk8Y2lyY2xlIGNsYXNzPSJzdDIiIGN4PSIxMzAuMSIgY3k9IjQxLjEiIHI9IjcuMiIvPgoJCTxjaXJjbGUgY2xhc3M9InN0MiIgY3g9Ijg3LjEiIGN5PSI4NC4yIiByPSI3LjIiLz4KCQk8Y2lyY2xlIGNsYXNzPSJzdDIiIGN4PSIxMzAuMSIgY3k9Ijg0LjIiIHI9IjcuMiIvPgoJPC9nPgo8L2c+Cjwvc3ZnPgoK");
    background-size: cover;
    width: 2rem;
    height: 2rem;
}

a:link,
a:visited {
    color: var(--main-bg-color);
}

/* will it change animation soon (tmp) */
.zetta-animation-pulse:hover {
    animation: pulse 1s infinite;
    transition: .3s;
}

.text-decoration-line-through-hover:hover {
    text-decoration: line-through;
}

/* TODO: Review code-wrapper, if all this is really necessary */
/****** Code Wrapper  ********/
.code-wrapper {
    background: rgb(24, 48, 85);
    color: white;
    font-family: monospace
}

.code-wrapper .code {
    word-break: break-all;
    margin: 0 20px;
}

.code-wrapper div.code-line {
    display: block;
    font: inherit;
    padding: 0 0 0 20px;
    position: relative;
    overflow-wrap: normal;
    white-space: pre-wrap;
    counter-increment: line 1;
    word-break: break-all;
    line-height: 1.7;
}

.code-wrapper div.code-line:before {
    top: 2px;
    left: -15px;
    color: rgb(92, 105, 117);
    width: 24px;
    bottom: 0;
    content: counter(line);
    display: inline-block;
    overflow: hidden;
    position: absolute;
    font-size: 12px;
    text-align: right;
    text-overflow: ellipsis;
    background-color: transparent;
    user-select: none;
}

/*********** data-table *****************/

/* fix the dropdown hidden in a bootstrap table */
.force-overflow .fixed-table-body {
    overflow: visible !important;
}

.bootstrap-table .loading-text {
    min-height: 135px;
}

/* Custom pagination-detail on top of the boostrap-table grids.
   This removes the pager buttons on top pf the grids leaving only the counter of records.
   nth-child(2) is the top pager while nth-child(4) would the bottom pager.
*/
.bootstrap-table.bootstrap5 .fixed-table-pagination:nth-child(2) .pagination-info {
    line-height: 1;
}

.bootstrap-table.bootstrap5 .fixed-table-pagination:nth-child(2) .pagination-detail {
    margin: 0 0 3px 0;
}

.bootstrap-table.bootstrap5 .fixed-table-pagination:nth-child(2) .page-list,
.bootstrap-table.bootstrap5 .fixed-table-pagination:nth-child(2) .pagination {
    display: none;
}

.bootstrap-table .pagination-info {
    font-size: 12px;
}


/*********** main view tabs *****************/
.main-view .content-tab {
    display: none;
}

.main-view .content-tab.active {
    display: block;
}

/*********** table *****************/
.detail-view {
    --bs-table-hover-bg: transparent
}

/*********** interpreter steps *****************/
.variant-interpreter-step:hover {
    position: relative;
    border: 1px solid var(--main-bg-color);
    border-radius: 50% !important;
    border-width: 8px ! important;
    padding: 34px 1px 23px 1px;
    transition: border 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.variant-interpreter-step.active {
    position: relative;
    border: 1px solid var(--main-bg-color);
    border-radius: 50% !important;
    border-width: 8px ! important;
    padding: 34px 1px 23px 1px;
}

.icon-interpreter-step:hover {
    padding: 14px !important;
    /* margin: 6px; */
    transition: all 0.3s;
}

/********** interpreter side-nav & opencga-project side-nav ************/
.side-tabs.side-nav a {
    cursor: pointer;
}

.side-tabs.side-nav a.active {
    font-weight: bold;
    background-color: #EEEEEE;
    color: #555;
    border-color: #ddd #ddd #ddd var(--main-bg-color);
}

.side-tabs.side-nav a:focus {
    border-color: #ddd;
    outline: 0;
}


/****  Form Style   ****/
.updated {
    border-color: darkorange;
}

.border-new {
    border-color: #0c2f4c !important;
}

.border-updated {
    border-color: darkorange !important;
}

.selection-updated {
    border-color: darkorange !important;
}

/****  interpretation   ****/
.interpretation-audit-timeline .event {
    border-left: 2px solid var(--main-bg-color);
    padding: 5px 5px 5px 20px;
    margin: 0 0 15px 110px;
    position: relative;
    background: #f1f1f1;
}

.interpretation-audit-timeline .event:before {
    left: -140px;
    top: 40%;
    color: var(--main-bg-color);
    content: attr(data-date);
    text-align: right;
    font-size: 0.9em;
    min-width: 120px;
    position: absolute;
}

.interpretation-audit-timeline .event:after {
    content: '';
    height: 15px;
    width: 15px;
    position: absolute;
    background-color: #f1f1f1;
    left: -9px;
    top: 40%;
    border-top: var(--main-bg-color) solid 2px;
    border-left: var(--main-bg-color) solid 2px;
    transform: rotate(-45deg);
}


/****  select2 style override ****/
.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered {
    /* display: inline-block;
    width: inherit; */
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-search--inline .select2-search__field {
    line-height: 1.8; /* fix vertical alignment of the placeholder*/
}

.select2-selection__choice__display {
    white-space: break-spaces; /* selected tag on multiple lines if needed */
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 9px !important;
    /* float: right; */
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__choice {
    border: 1px solid #cdd5e3;
    position: relative;
    vertical-align: middle;
    padding: 3px 0 0 5px;
    background-color: #eff2f7;
    border-radius: 2px;
    line-height: 1;
    word-break: break-all; /* selected tag on multiple lines if needed */
}

.select2-results__option.select2-results__option--selected {
    background-color: #eee;

}
.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__choice__remove {
    background: transparent;
    border: 0;
}

.select2-container .select2-selection--multiple {
    cursor: text;
    padding-right: 20px;
}

/* fix the select2 UI in case the autocomplete dropdown is hidden */
select.no-data + .select2-container--bootstrap-5.select2-container--open.select2-container--below .select2-selection {
    border-bottom-color: rgb(126, 182, 226);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}
/* adapt select2 placeholder text to the default BT ones */
.select2-container--bootstrap-5 .select2-search--inline .select2-search__field {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
}
/* dynamic width: it renders active area for the dropdown and selected tokens in one line, where possible */
.select2-selection__rendered {
    width: auto;
}
.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered {
    width: auto;
    /* display: inline-block; */
}
.select2-search.select2-search--inline {
    display: inline-block;
}


/****** job logs ********/
.cmd {
    background: black;
    font-family: "Courier New", monospace;
    padding: 15px;
    color: #a5a5a5;
    font-size: .9em;
}

.rocket-RUNNING {
    animation: spaceOutUp 2s infinite;
}

.rocket-PENDING,
.rocket-QUEUED,
.rocket-REGISTERING {
    animation: float-rocket .5s infinite;
}

/****** animation ********/

.anim-float {
    animation: float .5s infinite;
}
.anim-spaceOutUp {
    animation: spaceOutUp .5s infinite;
}

@keyframes float {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes float-rocket {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(-2px) translateX(0px) rotate(-45deg);
    }
    50% {
        -webkit-transform: translateY(-6px);
        transform: translateY(0px) translateX(0px) rotate(-45deg);
    }
    100% {
        -webkit-transform: translateY(0) translateX(10px);
        transform: translateY(-2px) translateX(0px) rotate(-45deg);
    }
}

@keyframes spaceOutUp {
    0% {
        opacity: 1;
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform: scale(1) translate(-200%, 200%);
        transform: scale(1) translate(-200%, 200%);
    }
    50% {
        opacity: 1;
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform: scale(1) translate(0%, 0);
        transform: scale(1) translate(0%, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform: scale(.2) translate(200%, -200%);
        transform: scale(.2) translate(200%, -200%);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    70% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

/* Fonts */

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(../fonts/ubuntu.woff) format('woff');
}

@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(../fonts/ubuntumono.woff) format('woff');
}

@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: local('Oxygen'), local('oxygen'), local('Oxygen-Regular'), url(../fonts/oxygen.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(../fonts/Lato-Light.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato-Regular.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/Roboto-Light.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto'), url(../fonts/Roboto.woff) format('woff');
}

/* qtip tooltip */

/* Terrible hack to remove the fixed max-width of 280px of the qtip tooltip */
@supports selector(:has(*)) {
    .qtip:has(.population-freq-tooltip) {
        max-width: 500px !important;
    }
}

/* Bootstrap table */

/* Terrible hack to make sure that the bootstrap table has a minimum height of 200px */
/* This is required to prevent the DNA loader exceed the table container */
.bootstrap-table {
    min-height: 200px;
}

/* Sets a minimum height to the loading container, to make sure that the loading DNA fits on this space */
.bootstrap-table .fixed-table-loading {
    min-height: 110px;
}
