html.ocb, body.ocb {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, 'sans-serif' !important;
}

.hidden {
    display: none !important;
    visibility: hidden !important
}

.unselectable {
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    cursor: default
}

/*ocb header*/
ul.ocb-help-menu,
ul.ocb-app-menu,
ul.ocb-header {
    margin: 0;
    padding: 0;
    background: white;
    color: #435f7a;
    list-style: none;
    text-transform: none;
    line-height: 60px;
    font-size: 16px;
}

ul.ocb-header > li {
    display: block;
    float: left;
    /*border-right: 1px solid #c6d0da;*/
    text-align: center;
    padding: 0 10px;
}

ul.ocb-header > li#logout {
    margin-right: 40px;
}

ul.ocb-header > li#menu {
    margin-left: 40px;
}

ul.ocb-header > li.title {
    font-size: 30px;
    padding-left: 120px;
}

ul.ocb-header li.description {
    color: #6599FF;
    margin-top: 2px;
    font-size: 22px;
}

ul.ocb-header > li.menu {
    font-size: 16px;
    padding: 0 20px;
}

ul.ocb-header > li.active {
    color: #6599FF;
}

ul.ocb-header > li.right {
    float: right;
    border-right: none;
    /*border-left: 1px solid #c6d0da;*/
}

ul.ocb-header > li.text:hover,
ul.ocb-header > li.title:hover {
    background: white;
    color: #435f7a;
}

ul.ocb-header > li.description:hover {
    background: white;
    color: #6599FF;
}

ul.ocb-help-menu > li:hover,
ul.ocb-header > li:hover {
    background: #435f7a;
    color: white;
}

ul.ocb-help-menu {
    position: absolute;
    z-index: 60000;
    top: 60px;
    right: -200px;
    width: 200px;
    visibility: hidden;
    /*display:none;*/
    border-top: 1px solid #c6d0da;
    transition: all 0.2s;
}

ul.ocb-app-menu {
    line-height: 40px;
    position: absolute;
    z-index: 60000;
    top: 60px;
    left: -150px;
    width: 150px;
    visibility: hidden;
    /*display:none;*/
    border-top: 1px solid #c6d0da;
    transition: all 0.2s;
}

ul.ocb-help-menu-shown {
    right: 0px;
    visibility: visible;
    /*display: block;*/
}

ul.ocb-app-menu-shown {
    left: 0px;
    visibility: visible;
    /*display: block;*/
}

ul.ocb-help-menu > li {
    border-bottom: 1px solid #c6d0da;
    border-left: 1px solid #c6d0da;
    padding: 0 10px;
}

ul.ocb-app-menu > li {
    border-bottom: 1px solid #c6d0da;
    border-right: 1px solid #c6d0da;
    padding: 0 10px;
}

.ocb-h-panel {
    line-height: 20px;
    font-size: 14px;
    background: #f5f5f5;
    color: #435f7a;
    padding: 4px 10px;
    border: 1px solid #c6d0da;
}

/* top Message*/
.ocb-msg-hidden {
    position: absolute;
    z-index: 50000;
    top: -999px;
    left: 45%;
    background: white;
    border: 1px solid #435f7a;
    transition: top 0.1s;
    margin: 5px;
    min-width: 150px;
}

.ocb-msg-hidden :first-child {
    padding: 5px;
    color: white;
    background-color: #435f7a;
}

.ocb-msg-hidden :last-child {
    padding: 7px;
    color: #435f7a;
    background-color: white;
}

.ocb-msg-shown {
    top: 0px;
}


/*Table*/
.ocb-attributes-table {
    cellspacing: 0;
    border-collapse: collapse;
    border: 1px solid #d3d3d3;
}

.ocb-attributes-table tr {
    border-collapse: collapse;
    border: 1px solid #d3d3d3;
}

.ocb-attributes-table td {
    border-collapse: collapse;
    border: 1px solid #d3d3d3;
    padding: 5px;
    max-width: 200px;
    overflow: hidden;
}

.ocb-attributes-table td.header {
    border-collapse: collapse;
    border: 1px solid #d3d3d3;
    padding: 5px;
    background-color: whiteSmoke;
    color: steelblue;
    font-weight: bold;
}

.ocb-stats-table {
    cellspacing: 0;
    border-collapse: collapse;
}

.ocb-stats-table tr {
    border-collapse: collapse;
}

.ocb-stats-table td {
    border-collapse: collapse;
    padding: 5px;
}

.ocb-stats-table td.header {
    border-collapse: collapse;
    padding: 5px;
    color: steelblue;
    /*font-weight:bold;*/
}




/*Network viewer*/
.ocb-nv-editionbar {
    color: #435F7A;
    padding: 5px 8px;
    /*border-bottom:1px solid #c6d0da;*/
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
}

.ocb-nv-toolbar {
    color: #435F7A;
    padding: 5px 8px;
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
}

.ocb-nv-statusbar {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    padding-left: 10px;
    background-color: #f5f5f5;
}

.ocb-nv-contextmenu {
    position: absolute;
    display: none;
}

/**/

/* Genome viewer */
.ocb-gv {
    position: relative;
    background-color: white;
}

.ocb-gv-right-side {
    position: absolute;
    z-index: 50;
    right: 0px;
}

.ocb-gv-left-side {
    position: absolute;
    z-index: 50;
    left: 0px;
}

.ocb-warn {
    color: orangered;
}

.ocb-light {
    color: gray;
}

.ocb-gv-track-resize {
    background-color: lightgray;
    background-image: url(../img/ocb-grab-track-resize.png) !important;
    background-repeat: no-repeat;
    background-position: center;
    height: 7px;
    opacity: 0.3;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
}

.ocb-feature-mark {
    fill: yellow;
}

.ocb-gv-navigation-bar {
    font-size: 10px;
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    padding: 5px;
}

.ocv-gv-status-bar {
    font-size: 12px;
    color: #333;
    padding: 3px 0 5px 5px;
    border-top: 1px solid #d4d4d4;
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-image: -webkit-linear-gradient(top, 3 ffffff, #f2f2f2);
    background-repeat: repeat-x;
    line-height: normal;
    position: relative;
}

.ocb-gv-panel-title {
    font-size: 12px;
    color: #333;
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    position: relative;
}

.ocb-gv-panel-text {
    left: 0;
    line-height: 24px;
    margin-left: 5px;
}

.ocb-gv-tracklist-windowsize {
    position: absolute;
    line-height: 24px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.ocb-gv-panel-collapse-control {
    position: absolute;
    right: 0;
    margin: 5px;
    height: 16px;
}

.ocb-gv-track-title-el {
    font-size: 12px;
    line-height: 20px;
    border: 1px solid lightgray;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
}

.ocb-gv-track-title-el:hover {
    background-image: linear-gradient(to bottom, #f2f2f2, #e4e4e4);
    background-image: -webkit-linear-gradient(top, #f2f2f2, #e4e4e4);
}

.ocb-gv-track-title-el:focus {
    background-image: linear-gradient(to bottom, #f2f2f2, #e4e4e4);
    background-image: -webkit-linear-gradient(top, #f2f2f2, #e4e4e4);
    border: 1px solid gray;
}

.ocb-gv-track-title-histogram {
    margin-right: 10px;
}
.ocb-gv-track-title-close {
    margin-left: 5px;
}

.ocb-gv-track-title-text:hover {
    color: steelblue;
    text-decoration: underline;
}



.ocb-gv-track-title-close:hover {
    color: darkred;
    text-decoration: underline;
}

.ocb-gv-track-title-up:hover {
    color: steelblue;
    text-decoration: underline;
}

.ocb-gv-track-title-down:hover {
    color: steelblue;
    text-decoration: underline;
}

.ocb-track-resize {
    background-color: lightgray;
    background-image: url(../img/ocb-grab-track-resize.png) !important;
    background-repeat: no-repeat;
    background-position: center;
    height: 7px;
    opacity: 0.3;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
}

.ocb-gv-status-bar {
    color: #333;
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    padding: 3px;
    position: relative;
}

.ocb-gv-status-right {
    position: relative;
    font-size: 13px;
    display: inline-block;
    line-height: 24px;
    margin-left: 5px;
    margin-right: 5px;
    float: right;
}

.ocb-gv-status-left {
    position: relative;
    font-size: 13px;
    display: inline-block;
    line-height: 24px;
    margin-left: 5px;
    margin-right: 5px;
}

.ocb-gm-navigation-bar {
    background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
    background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
    background-repeat: repeat-x;
}

/**/

.ocb-pointer {
    cursor: pointer;
}

.ocb-job-list-widget-item {
    border: 1px solid #fff;
    margin-top: 1px;
    padding: 4px;
    cursor: pointer;
}

.ocb-job-list-widget-item-hover {
    border: 1px solid #b2becf;
    background-color: #f1f3f6;
}

.ocb-title-1 {
    color: #435F7A;
    font-size: 160%;
    padding: 4px 6px;
    margin-bottom: 5px;
    border: none;
}

.ocb-title-2 {
    color: #435F7A;
    font-size: 16px;
    line-height: 22px;
    padding: 4px 6px;
    border: none;
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(../fonts/ubuntu.woff) format('woff');
}

@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(../fonts/ubuntumono.woff) format('woff');
}

@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: local('Oxygen'), local('oxygen'), local('Oxygen-Regular'), url(../fonts/oxygen.woff) format('woff');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/sourcesanspro.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('lato'), local('Lato Regular'), local('Lato-Regular'), url(../fonts/lato.woff) format('woff');
}

.ocb-tooltip-font {
    font-family: tahoma, arial, verdana, sans-serif;
}

.ocb-font-sourcesanspro {
    font-family: 'Source Sans Pro';
}

.ocb-font-ubuntu {
    font-family: 'Ubuntu';
}

.ocb-font-ubuntumono {
    font-family: 'Ubuntu Mono';
}

.ocb-font-lato {
    font-family: 'Lato';
}

.ocb-font-size-16 {
    font-size: 16px;
}

.ocb-font-size-15 {
    font-size: 15px;
}

.ocb-font-size-14 {
    font-size: 14px;
}

.ocb-font-size-13 {
    font-size: 13px;
}

.ocb-font-size-12 {
    font-size: 12px;
}

.ocb-font-size-11 {
    font-size: 11px;
}

.ocb-font-size-10 {
    font-size: 10px;
}

.ocb-font-size-9 {
    font-size: 9px;
}

.ocb-font-size-8 {
    font-size: 8px;
}

.ocb-border-bot-lightgrey {
    border-bottom: 1px solid lightgrey;
}

.ocb-border-top-lightgrey {
    border-top: 1px solid lightgrey;
}

.ocb-border-left-lightgrey {
    border-left: 1px solid lightgrey;
}

.ocb-border-right-lightgrey {
    border-right: 1px solid lightgrey;
}

.ocb-border-all-lightgrey {
    border: 1px solid lightgrey;
}

/*************************/
/*************************/
/*************************/
.ocb-panel-title {
    font-size: 13px;
    background-color: #fff;
    font-weight: bold;
    padding: 4px 6px;
    border-width: 0px;
}

.ocb-background-black {
    background: #000000;
}

.ocb-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.ocb-icon-resize {
    background: url(../img/resize.png) !important;
}

.ocb-icon-plus {
    background: url(../img/ocb-icon-plus.png) !important;
}

.ocb-icon-minus {
    background: url(../img/ocb-icon-minus.png) !important;
}

.ocb-icon-arrow-e {
    background: url(../img/ocb-icon-arrow-e.png) !important;
}

.ocb-icon-arrow-w {
    background: url(../img/ocb-icon-arrow-w.png) !important;
}

.ocb-icon-arrow-e-bold {
    background: url(../img/ocb-icon-arrow-e-bold.png) !important;
}

.ocb-icon-arrow-w-bold {
    background: url(../img/ocb-icon-arrow-w-bold.png) !important;
}

.ocb-icon-arrow-n-bold {
    background: url(../img/ocb-icon-arrow-n-bold.png) !important;
}

.ocb-icon-collapse {
    background: url(../img/ocb-icon-collapse.png) !important;
}

.ocb-icon-expand {
    background: url(../img/ocb-icon-expand.png) !important;
}

.ocb-icon-clock {
    background: url(../img/ocb-icon-clock.png) !important;
}

.ocb-icon-repeat {
    background: url(../img/ocb-icon-repeat.png) !important;
}

.ocb-icon-karyotype {
    background: url(../img/ocb-icon-karyotype.png) !important;
}

.ocb-icon-chromosome {
    background: url(../img/ocb-icon-chromosome.png) !important;
}

.ocb-icon-region {
    background: url(../img/ocb-icon-region.png) !important;
}

.ocb-icon-find {
    background: url(../img/ocb-icon-find.png) !important;
}

.ocb-icon-gear {
    background: url(../img/ocb-icon-gear.png) !important;
}

.ocb-icon-track-autoheight {
    background: url(../img/ocb-icon-track-autoheight.png) !important;
}

.ocb-icon-compressed {
    background: url(../img/ocb-icon-compressed.png) !important;
}

.ocb-icon-node-select {
    background: url(../img/icon-node-select.png) !important;
}

.ocb-icon-edge-select {
    background: url(../img/icon-edge-select.png) !important;
}

.ocb-icon-backitem-select {
    background: url(../img/icon-backitem-select.png) !important;
}

.icon-save {
    background: url('../img/save.png');
}

.icon-grid {
    background: url('../img/grid.png');
}

.icon-box {
    background: url(../img/icons.png) no-repeat -3px -57px !important;
}

.icon-blue-box {
    background: url(../img/icons.png) no-repeat -3px -84px !important;
}

.icon-change-project {
    background: url(../img/jfk_sprite22.png) no-repeat -3px -1922px !important;
}

.icon-rename-project {
    background: url(../img/jfk_sprite40.png) no-repeat -24px -2344px !important;
}

.icon-add {
    background: url(../img/jfk_sprite22.png) no-repeat -3px -844px !important;
}

.icon-link {
    background: url(../img/jfk_sprite22.png) no-repeat -3px -759px !important;
}

.icon-delete {
    background: url(../img/sprite_black2.png) no-repeat -65px -45px !important;
}

.icon-drag {
    background: url(../img/jfk_sprite22.png) no-repeat -3px -737px !important;
}

.icon-select {
    background: url(../img/jfk_sprite22.png) no-repeat -3px -1964px !important;
}

.icon-zoom-out {
    background: url(../img/jfk_sprite22.png) no-repeat -3px -2787px !important;
}

.icon-zoom-in {
    background: url(../img/jfk_sprite22.png) no-repeat -3px -2850px !important;
}

.icon-upload {
    background: url(../img/jfk_sprite22.png) no-repeat -3px -2048px !important;
}

.icon-local {
    background: url(../img/local.png) !important;
}

.icon-node-size {
    background: url(../img/resize.png) !important;
}

.icon-fill-color {
    background: url(../img/jfk_sprite40.png) no-repeat -24px -1545px !important;
}

.icon-stroke-size {
    background: url(../img/jfk_sprite40.png) no-repeat -24px -128px !important;
}

.icon-stroke-color {
    background: url(../img/jfk_sprite40.png) no-repeat -24px -2226px !important;
}

.icon-node-shape {
    background: url(../img/jfk_sprite40.png) no-repeat -1px -1565px !important;
}

.icon-background-option {
    background: url(../img/icon-background.png) !important;
}

.icon-node-opacity {
    background: url(../img/opacity.png) !important;
}

.icon-edge-type {
    background: url(../img/edgetype.png) !important;
}

.icon-find {
    background: url(../img/find.png) !important;
}

.icon-label-size {
    background: url(../img/label-size.png) !important;
}

.icon-layout {
    background: url(../img/icon-layout.png) !important;
}

.icon-collapse {
    background: url(../img/icon-collapse.png) !important;
}

.icon-auto-select {
    background: url(../img/icon-auto-select.png) !important;
}

.icon-project-delete {
    background: url(../img/icon-project-delete.png) !important;
}

.icon-project-all {
    background: url(../img/icon-project-all.png) !important;
}

.icon-project-manager {
    background: url(../img/jfk_sprite40.png) no-repeat -1px -896px !important;
}

.icon-mouse-select {
    background: url(../img/jfk_sprite40.png) no-repeat -2px -1504px !important;
}

.icon-order {
    background: url(../img/icon-order.png);
}

.icon-order-asc {
    background: url(../img/icon-order-asc.png);
}

.icon-order-desc {
    background: url(../img/icon-order-desc.png);
}

.icon-regular-file {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90CDRIvNbHTpbwAAADjSURBVDjLpZFBbsIwEEUfVRZYahcVK3qKXoauMFK5C91nkyUB+xC5BqeAA7SKq1B5ugl2EiC04UkjayzN17NnROTRWvvJFbTWL8CBHqbGWOlSlqVkWSbGWAGm3aGHZiMiAByPP6FOd1rP2W7NvhvSCvDe10E+VJPFQpPnm1ZIcsmgPgJVVZGmaejX63y/XL4/AV/JJYPTCeDcN7PZWyuwKAqA8wARqSsGKDVGqXGjV8H07AnRQPq21TK8+YSBAQMN4hb6Df7wB/5eA+4zmEyehxk451itPrhFksSxUeP+lf+z+wXwdayJk/mqtgAAAABJRU5ErkJggg==);
}

/*SBGN icons*/
.icon-sbgn-en1 {
    background: url(../img/sbgn.png) no-repeat -0px -0px !important;
}

.icon-sbgn-en2 {
    background: url(../img/sbgn.png) no-repeat -17px -0px !important;
}

.icon-sbgn-en3 {
    background: url(../img/sbgn.png) no-repeat -34px -0px !important;
}

.icon-sbgn-en4 {
    background: url(../img/sbgn.png) no-repeat -51px -0px !important;
}

.icon-sbgn-en5 {
    background: url(../img/sbgn.png) no-repeat -68px -0px !important;
}

.icon-sbgn-en6 {
    background: url(../img/sbgn.png) no-repeat -85px -0px !important;
}

.icon-sbgn-pn1 {
    background: url(../img/sbgn.png) no-repeat -0px -17px !important;
}

.icon-sbgn-pn2 {
    background: url(../img/sbgn.png) no-repeat -17px -17px !important;
}

.icon-sbgn-pn3 {
    background: url(../img/sbgn.png) no-repeat -34px -17px !important;
}

.icon-sbgn-pn4 {
    background: url(../img/sbgn.png) no-repeat -51px -17px !important;
}

.icon-sbgn-pn5 {
    background: url(../img/sbgn.png) no-repeat -68px -17px !important;
}

.icon-sbgn-pn6 {
    background: url(../img/sbgn.png) no-repeat -85px -17px !important;
}

.icon-sbgn-ca1 {
    background: url(../img/sbgn.png) no-repeat -0px -34px !important;
}

.icon-sbgn-ca2 {
    background: url(../img/sbgn.png) no-repeat -17px -34px !important;
}

.icon-sbgn-ca3 {
    background: url(../img/sbgn.png) no-repeat -34px -34px !important;
}

.icon-sbgn-ca4 {
    background: url(../img/sbgn.png) no-repeat -51px -34px !important;
}

.icon-sbgn-ca5 {
    background: url(../img/sbgn.png) no-repeat -68px -34px !important;
}

.icon-sbgn-ca6 {
    background: url(../img/sbgn.png) no-repeat -85px -34px !important;
}

.icon-sbgn-ca7 {
    background: url(../img/sbgn.png) no-repeat -102px -34px !important;
}

.img-sbgn-logo {
    background: url(../img/sbgn-logo.png) no-repeat;
}

/*TEXT FORMAT*/
.emph {
    font-weight: bold;
    color: #15428B;
}

.ssel {
    font-weight: bold;
    color: #15428B;
}

.dis {
    font-style: italic;
    font-weight: bold;
    color: gray;
}

.infokey {
    font-weight: bold;
    color: gray;
}

.tip {
    font-style: italic;
    color: gray;
}

.key {
    color: #444444;
}

.ok {
    color: #00AA33;
}

.err {
    color: #CC0011;
}

.info {
    color: #0066FF;
}

.link {
    color: #1155cc;
}

.bgama {
    color: #ffffd6;
}

.w75 {
    display: inline-block;
    width: 75px;
}

.w90 {
    display: inline-block;
    width: 90px;
}

.w100 {
    display: inline-block;
    width: 100px;
}

.w125 {
    display: inline-block;
    width: 125px;
}

.w150 {
    display: inline-block;
    width: 150px;
}

.w140 {
    display: inline-block;
    width: 140px;
}

.s10 {
    font-size: 10%;
}

.s20 {
    font-size: 20%;
}

.s30 {
    font-size: 30%;
}

.s40 {
    font-size: 40%;
}

.s50 {
    font-size: 50%;
}

.s60 {
    font-size: 60%;
}

.s70 {
    font-size: 70%;
}

.s80 {
    font-size: 80%;
}

.s90 {
    font-size: 90%;
}

.s100 {
    font-size: 100%;
}

.s101 {
    font-size: 101%;
}

.s102 {
    font-size: 102%;
}

.s103 {
    font-size: 103%;
}

.s104 {
    font-size: 104%;
}

.s105 {
    font-size: 105%;
}

.s106 {
    font-size: 106%;
}

.s107 {
    font-size: 107%;
}

.s108 {
    font-size: 108%;
}

.s109 {
    font-size: 109%;
}

.s110 {
    font-size: 110%;
}

.s120 {
    font-size: 120%;
}

.s130 {
    font-size: 130%;
}

.s140 {
    font-size: 140%;
}

.s150 {
    font-size: 150%;
}

.s160 {
    font-size: 160%;
}

.s170 {
    font-size: 170%;
}

.s180 {
    font-size: 180%;
}

.s190 {
    font-size: 190%;
}

.s200 {
    font-size: 200%;
}

/*END TEXT FORMAT*/

.panel-border-top {
    border-top: 1px solid #99bce8;
}

.panel-border-left {
    border-left: 1px solid #99bce8;
}

.panel-border-bottom {
    border-bottom: 1px solid #99bce8;
}

.panel-border-right {
    border-right: 1px solid #99bce8;
}

.panel-border {
    border: 1px solid #bbb;
}

.border-bot {
    border-bottom: 1px solid #E5E5E5;
}

.border-top {
    border-top: 1px solid #E5E5E5;
}

.border-left {
    border-left: 1px solid #E5E5E5;
}

.border-right {
    border-right: 1px solid #E5E5E5;
}

.border-all {
    border: 1px solid #E5E5E5;
}