html.ocb, body.ocb {
    font-family: 'Lato', 'Roboto', 'Helvetica Neue', Helvetica, Arial, 'sans-serif' !important;
}
.hidden {
    display: none !important;
    visibility: hidden !important
}
.unselectable {
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    cursor: default
}

/*ocb header*/

.ocb-header-widget {
    background-color: #FFFFFF;
}
ul.ocb-help-menu, ul.ocb-app-menu, ul.ocb-header {
    margin: 0;
    padding: 0;
    background: white;
    color: #435f7a;
    list-style: none;
    text-transform: none;
    line-height: 60px;
    font-size: 16px;
}
ul.ocb-header > li {
    display: block;
    float: left;
    /*border-right: 1px solid #c6d0da;*/
    text-align: center;
    padding: 0 1vw;
}
ul.ocb-header > li#logout {
    margin-right: 1.1vw;
}
ul.ocb-header > li#menu {
    margin-left: 5vw;
}
ul.ocb-header > li.title {
    font-size: 30px;
    padding-left: 4vw;
}
ul.ocb-header li.description {
    color: #6599FF;
    font-size: 20px;
}
ul.ocb-header > li.menu {
    font-size: 16px;
    padding: 0 1vw;
}
ul.ocb-header > li.active {
    color: #6599FF;
}
ul.ocb-header > li.right {
    float: right;
    border-right: none;
    /*border-left: 1px solid #c6d0da;*/
}
ul.ocb-header > li.text:hover, ul.ocb-header > li.title:hover {
    background: none;
    color: #435f7a;
}
ul.ocb-header > li.description:hover {
    background: white;
    color: #6599FF;
}
ul.ocb-help-menu > li:hover, ul.ocb-header > li:hover {
    background: #435f7a;
    color: white;
}
ul.ocb-help-menu {
    position: absolute;
    z-index: 60000;
    top: 60px;
    right: 0px;
    width: 200px;
    visibility: hidden;
    opacity: 0;
    /*display:none;*/
    border-top: 1px solid #c6d0da;
    transition: all 0.2s;
}
ul.ocb-app-menu {
    line-height: 40px;
    position: absolute;
    z-index: 60000;
    top: 60px;
    left: -150px;
    width: 150px;
    visibility: hidden;
    /*display:none;*/
    border-top: 1px solid #c6d0da;
    transition: all 0.2s;
}
ul.ocb-help-menu-shown {
    visibility: visible !important;
    opacity: 1 !important;
}
ul.ocb-app-menu-shown {
    left: 0px !important;
    visibility: visible !important;
    /*display: block;*/
}
ul.ocb-help-menu > li {
    border-bottom: 1px solid #c6d0da;
    border-left: 1px solid #c6d0da;
    padding: 0 10px;
}
ul.ocb-app-menu > li {
    border-bottom: 1px solid #c6d0da;
    border-right: 1px solid #c6d0da;
    padding: 0 10px;
}
ul.ocb-app-menu > li.active {
    background: #d1d9e3;
    color: #435f7a;
}
ul.ocb-app-menu > li:hover {
    background: #d1d9e3;
    color: #435f7a;
}
.ocb-h-panel {
    line-height: 20px;
    font-size: 14px;
    background: #f5f5f5;
    color: #435f7a;
    padding: 4px 10px;
    border: 1px solid #c6d0da;
}

/* top Message*/

.ocb-msg-hidden {
    position: absolute;
    z-index: 50000;
    top: -200px;
    left: 45%;
    background: white;
    border: 1px solid #435f7a;
    transition: top 0.9s;
    margin: 5px;
    min-width: 150px;
}
.ocb-msg-hidden:first-child {
    padding: 5px;
    color: white;
    background-color: #435f7a;
}
.ocb-msg-hidden:last-child {
    padding: 7px;
    color: #435f7a;
    background-color: white;
}
.ocb-msg-shown {
    top: 0px;
}

/*Table*/

.ocb-attributes-table {
    cellspacing: 0;
    border-collapse: collapse;
    border: 1px solid #d3d3d3;
}
.ocb-attributes-table tr {
    border-collapse: collapse;
    border: 1px solid #d3d3d3;
}
.ocb-attributes-table td {
    border-collapse: collapse;
    border: 1px solid #d3d3d3;
    padding: 5px;
    max-width: 200px;
    overflow: hidden;
}
.ocb-attributes-table td.header {
    border-collapse: collapse;
    border: 1px solid #d3d3d3;
    padding: 5px;
    background-color: whiteSmoke;
    color: steelblue;
    font-weight: bold;
}
.ocb-stats-table {
    cellspacing: 0;
    border-collapse: collapse;
}
.ocb-stats-table tr {
    border-collapse: collapse;
}
.ocb-stats-table td {
    border-collapse: collapse;
    padding: 5px;
}
.ocb-stats-table td.header {
    border-collapse: collapse;
    padding: 5px;
    color: steelblue;
    /*font-weight:bold;*/
}

/*Network viewer*/

.ocb-nv-editionbar {
    box-sizing: border-box;
    height: 32px;
    font-size: 13px;
    padding: 4px 8px;
    background-color: #FAFAFA;
    border-bottom: 1px solid #D9D9D9;
}
.ocb-nv-toolbar {
    box-sizing: border-box;
    height: 32px;
    font-size: 13px;
    padding: 4px 8px;
    background-color: #FAFAFA;
    border-bottom: 1px solid #D9D9D9;
}
.ocb-nv-statusbar {
    box-sizing: border-box;
    border-top: 1px solid #D9D9D9;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    padding-left: 10px;
    background-color: #FAFAFA;
}
.ocb-nv-context {
    font-size: 13px;
}

/**/


/* Genome viewer */

.ocb-gv {
    position: relative;
    background-color: white;
}
.ocb-gv-right-side {
    position: absolute;
    z-index: 50;
    right: 0px;
}
.ocb-gv-left-side {
    position: absolute;
    z-index: 50;
    left: 0px;
}
.ocb-warn {
    color: orangered;
}
.ocb-light {
    color: gray;
}
.ocb-gv-track-resize {
    background-color: lightgray;
    background-image: url(../img/ocb-grab-track-resize.png) !important;
    background-repeat: no-repeat;
    background-position: center;
    height: 7px;
    opacity: 0.3;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
}
.ocb-feature-mark {
    fill: yellow;
}
.ocb-gv-navigation-bar {
    font-size: 13px;
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    padding: 0 5px 5px 5px;
    box-sizing: border-box;
    height: 33px;
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;*/
}
.ocb-gv-navigation-bar > * {
    margin-top: 5px !important;
}
.ocv-gv-status-bar {
    font-size: 13px;
    color: #333;
    padding: 3px 0 5px 5px;
    border-top: 1px solid #d4d4d4;
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-image: -webkit-linear-gradient(top, 3 ffffff, #f2f2f2);
    background-repeat: repeat-x;
    line-height: normal;
    position: relative;
}
.ocb-gv-panel-title {
    font-size: 13px;
    color: #333;
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    position: relative;
    height: 26px;
}
.ocb-gv-panel-text {
    position: absolute;
    left: 0;
    line-height: 24px;
    margin-left: 5px;
}
.ocb-gv-tracklist {
    height: 100%;
    position: relative;
}
.ocb-gv-tracklist-windowsize {
    position: absolute;
    line-height: 24px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.ocb-gv-panel-collapse-control {
    line-height: 24px;
    position: absolute;
    right: 0;
    margin-right: 5px;
    height: 16px;
}
.ocb-gv-tracklist-position {
    height: 14px;
    color: steelblue;
    font-family: 'Ubuntu Mono', 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
    font-size: 14px;
    position: relative;
}
.ocb-gv-tracklist-position > div {
    line-height: 14px;
    color: steelblue;
    position: absolute;
}
.ocb-gv-tracklist-position-left {
    left: 0;
}
.ocb-gv-tracklist-position-mid {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.ocb-gv-tracklist-position-mid-pos {
    display: inline-block;
}
.ocb-gv-tracklist-position-mid-nt {
    display: inline-block;
    margin-right: 10px;
}
.ocb-gv-tracklist-position-right {
    right: 0;
}
.ocb-gv-track {
    border-bottom: 1px solid lightgray;
}
.ocb-gv-track:last-child {
    border-bottom-width: 0;
}
.ocb-gv-track-title-el {
    font-size: 13px;
    line-height: 20px;
    border: 1px solid lightgray;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
}

/*.ocb-gv-track-title-el:hover {*/


/*background-image: linear-gradient(to bottom, #f2f2f2, #e4e4e4);*/


/*background-image: -webkit-linear-gradient(top, #f2f2f2, #e4e4e4);*/


/*}*/

.ocb-gv-track-title-el:focus {
    background-image: linear-gradient(to bottom, #f2f2f2, #e4e4e4);
    background-image: -webkit-linear-gradient(top, #f2f2f2, #e4e4e4);
    border: 1px solid gray;
}
.ocb-gv-track-title-histogram {
    margin-right: 10px;
}
.ocb-gv-track-title-toggle {
    margin-right: 5px;
}
.ocb-gv-track-title-close {
    margin-left: 5px;
}
.ocb-gv-track-title-external-link {
    margin-left: 5px;
}
.ocb-gv-track-title-text:hover {
    /*color: steelblue;*/
    /*text-decoration: underline;*/
    /*cursor:pointer;*/
}
.ocb-gv-track-title-close:hover {
    color: darkred;
}
.ocb-gv-track-title-up:hover {
    color: steelblue;
}
.ocb-gv-track-title-down:hover {
    color: steelblue;
}
.ocb-gv-track-title-toggle:hover {
    color: steelblue;
}
.ocb-gv-track-title-external-link:hover {
    color: #1d9d74;
}
.ocb-gv-track-title-loading {
    /*color: #6599FF;*/
    color: orangered;
}
.ocb-track-resize {
    cursor: default;
    background-color: #f1f1f1;
    background-image: url(../img/ocb-grab-track-resize.png) !important;
    background-repeat: no-repeat;
    background-position: center;
    height: 7px;
    opacity: 0.3;
    border-top: 1px solid gray;
    box-sizing: border-box;
}
.ocb-track-resize:hover {
    border-top-color: lightgray;
    background-color: #f5f5f5;
    cursor: ns-resize;
    opacity: 1;
}
.ocb-gv-status-bar {
    color: #333;
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    padding: 3px;
    border-top: 1px solid lightgray;
    position: relative;
}
.ocb-gv-status-right {
    position: relative;
    font-size: 13px;
    display: inline-block;
    line-height: 24px;
    margin-left: 5px;
    margin-right: 5px;
    float: right;
}
.ocb-gv-status-left {
    position: relative;
    font-size: 13px;
    display: inline-block;
    line-height: 24px;
    margin-left: 5px;
    margin-right: 5px;
}
.ocb-gm-navigation-bar {
    background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
    background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
    background-repeat: repeat-x;
}
.ocb-codon {
    display: none;
}
.ocb-coding:hover .ocb-codon {
    display: inherit;
    cursor: pointer;
}

/**/

.ocb-pointer {
    cursor: pointer;
}
.ocb-job-list-widget-item {
    border: 1px solid #fff;
    margin-top: 1px;
    padding: 4px;
    cursor: pointer;
}
.ocb-job-list-widget-item-hover {
    border: 1px solid #b2becf;
    background-color: #f1f3f6;
}
.ocb-title-1 {
    color: #435F7A;
    font-size: 160%;
    padding: 4px 6px;
    margin-bottom: 5px;
    border: none;
}
.ocb-title-2 {
    color: #435F7A;
    font-size: 16px;
    line-height: 22px;
    padding: 4px 6px;
    border: none;
}

/*
CONTROLS
*/

.ocb-ctrl {
    position: relative;
    margin: 0px;
    display: block;
    float: left;
    user-select: none;
}
.ocb-ctrl-label, .ocb-ctrl-text {
    display: block;
    float: left;
    box-sizing: border-box;
    line-height: 21px;
    border: 1px solid #ccc;
    padding: 0px 5px;
    color: #333;
    background-color: #f2f2f2;
    font-size: inherit;
}
.ocb-ctrl-text {
    border-color: transparent;
    background-color: transparent;
}
label.ocb-ctrl > input[type=radio], label.ocb-ctrl > input[type=checkbox] {
    display: none;
}

/*label.ocb-ctrl {*/


/*display: block;*/


/*float: left;*/


/*}*/

div.ocb-ctrl, input.ocb-ctrl[type=text], label.ocb-ctrl > input[type=radio] + span, label.ocb-ctrl > input[type=checkbox] + span {
    display: block;
    float: left;
    outline: 0;
    box-sizing: border-box;
    line-height: 21px;
    border: 1px solid #ccc;
    padding: 0px 5px;
    color: #333;
    background-color: #fff;
    font-size: inherit;
}
label.ocb-ctrl > input[type=radio]:checked + span, label.ocb-ctrl > input[type=checkbox]:checked + span {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    background-color: #ebebeb;
}
div.ocb-ctrl:hover, label.ocb-ctrl > input[type=radio] + span:hover, label.ocb-ctrl > input[type=checkbox]:hover + span:hover {
    background-color: #ebebeb;
}
input.ocb-ctrl[type=text] {
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input.ocb-ctrl[type=text]:focus {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
input.ocb-ctrl[type=text].error {
    border-color: #e32b2b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(227, 43, 43, .6);
}

/******* Infinite drop down *****************/


/*
  data-divider: add li with boolean attribute data-divider to add a space between li
  data-sub: add attribute data-sub to add the angle icon for sub ul
*/

div.ocb-dropdown {
    position: relative;
    display: block;
    float: left;
    color: #333;
}
div.ocb-dropdown ul, ul.ocb-context {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    list-style: none;
    text-decoration: none;
    z-index: 100000;
    border: 1px solid #afafaf;
    background-color: #fff;
    line-height: 22px;
    min-width: 100px;
    margin: 1px 0 0 0;
    padding: 5px 0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    /*box-shadow: 0px 1px 6px 0px rgb(136, 136, 136);*/
    transition: all 0.35s;
}
div.ocb-dropdown ul, ul.ocb-context ul {
    left: 0;
    top: 100%;
}
div.ocb-dropdown ul[data-right] {
    right: 0;
    left: auto;
}
div.ocb-dropdown ul[data-upward] {
    top: inherit;
    bottom: 100%;
    margin-bottom: 2px;
    left: 0;
}
div.ocb-dropdown ul[data-upward][data-right] {
    top: inherit;
    bottom: 100%;
    margin-bottom: 2px;
    left: auto;
    right: 0;
}
div.ocb-dropdown ul ul {
    top: 0px;
    left: 100%;
}
div.ocb-dropdown ul li, ul.ocb-context li {
    position: relative;
    text-align: left;
    padding: 2px 30px 2px 10px;
    white-space: nowrap;
    color: #333;
}
div.ocb-dropdown ul li[data-divider], ul.ocb-context li[data-divider] {
    height: 1px;
    margin: 3px 0;
    padding: 0;
    overflow: hidden;
    background-color: #DEDEDE;
}
div.ocb-dropdown ul li[data-sub]:after, ul.ocb-context li[data-sub]:after {
    font-family: FontAwesome;
    content: '\f105';
    /* > */
    /*content:'\f0da';*/
    position: absolute;
    right: 10px;
}
div.ocb-dropdown ul li.active, div.ocb-dropdown ul li:active, ul.ocb-context li:active {
    background-color: #DEDEDE;
}
div.ocb-dropdown ul li:hover, ul.ocb-context li:hover {
    background-color: #2F65F4;
    color: #fff;
}
div.ocb-dropdown ul li[data-text]:hover, ul.ocb-context li[data-text]:hover {
    background-color: inherit;
    color: inherit;
}
div.ocb-dropdown > div:focus + ul, div.ocb-dropdown > div:focus + ul li:hover > ul {
    visibility: visible;
    opacity: 1;
}
.ocb-zoom-bar {
    position: relative;
    float: left;
    width: 100px;
    height: 23px;
    box-sizing: border-box;
    /*border-top: 1px solid #ccc;*/
    /*border-bottom: 1px solid #ccc;*/
    margin-left: 10px;
    margin-right: 10px;
}
.ocb-zoom-bar > div.back {
    position: absolute;
    background-color: #aaa;
    box-sizing: border-box;
    height: 5px;
    top: 8px;
    width: 100%;
}
.ocb-zoom-bar > div.rect {
    position: absolute;
    background-color: #2F65F4;
    /*background-color: #DCDCDC;*/
    box-sizing: border-box;
    height: 5px;
    top: 8px;
    transition: all 0.1s;
}
.ocb-zoom-bar > div.ball {
    position: absolute;
    background-color: #2046aa;
    top: 3px;
    margin-left: -8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

/*
END CONTROLS
*/

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(../fonts/ubuntu.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(../fonts/ubuntumono.woff) format('woff');
}
@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: local('Oxygen'), local('oxygen'), local('Oxygen-Regular'), url(../fonts/oxygen.woff) format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(../fonts/Lato-Light.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato-Regular.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/Roboto-Light.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto'), url(../fonts/Roboto.woff) format('woff');
}
.ocb-tooltip-font {
    font-family: tahoma, arial, verdana, sans-serif;
}
.ocb-font-sourcesanspro {
    font-family: 'Source Sans Pro';
}
.ocb-font-ubuntu {
    font-family: 'Ubuntu';
}
.ocb-font-ubuntumono {
    font-family: 'Ubuntu Mono';
}
.ocb-font-lato {
    font-family: 'Lato';
}
.ocb-font-roboto {
    font-family: 'Roboto';
}
.ocb-font-size-16 {
    font-size: 16px;
}
.ocb-font-size-15 {
    font-size: 15px;
}
.ocb-font-size-14 {
    font-size: 14px;
}
.ocb-font-size-13 {
    font-size: 13px;
}
.ocb-font-size-12 {
    font-size: 12px;
}
.ocb-font-size-11 {
    font-size: 11px;
}
.ocb-font-size-10 {
    font-size: 10px;
}
.ocb-font-size-9 {
    font-size: 9px;
}
.ocb-font-size-8 {
    font-size: 8px;
}
.ocb-icon {
    display: block;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 3px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}
.ocb-icon-karyotype {
    background: url(../img/ocb-icon-karyotype.png) !important;
}
.ocb-icon-chromosome {
    background: url(../img/ocb-icon-chromosome.png) !important;
}
.ocb-icon-region {
    background: url(../img/ocb-icon-region.png) !important;
}
