<dom-module id="jso-kegg">
    <style>
        :host {
            display: block;
            box-sizing: border-box;
            width: 500px;
        }

        .attributelist {
            display: block;
            width: 100%;
            height: 600px;
            overflow-y: auto;
            box-sizing: border-box;
            padding: 5px 5px 5px 5px;
        }

        .attributelist .item {
            margin-top: 3px;
        }

        .footer {
            padding: 4px 5px 4px 12px;
            border-top: 1px solid var(--divider-color);
            background-color: var(--light-secondary-color);
        }

        .footer > * {
            margin-left: 5px;
        }
    </style>

    <template>
        <div class="attributelist flex">
            <template is="dom-repeat" items="{{pathwayList}}" as="item" index-as="index">
                <label class="jso-control">
                    <input type="radio" on-click="handleItemSelect" disabled$="{{loading}}" name="pw" />
                    <span data-selected$="{{item.selected}}">{{item.text}}</span>
                </label>
            </template>
        </div>

        <div class="footer horizontal layout flex">
            <div class="jso-txt">
                <template is="dom-if" if="{{loading}}">
                    <i class="fa fa-spinner fa-spin" style="margin-right: 5px;"></i>
                </template>
                <span>{{message}}</span>
            </div>
            <!--<div class="flex"></div>-->
            <!--<div class="jso-btn jso-btn-shdw" style="width: 100px;" on-click="handleGo">Search</div>-->
        </div>
    </template>

    <script>
        Polymer({
            is: "jso-kegg",
            properties: {
                pathwayList: {
                    type: Array,
                    value: function() {
                        return [];
                    }
                },
                message: {
                    type: String,
                },
                loading: {
                    type: Boolean
                }
            },
            shapeConvert: {
                roundrectangle: 'rectangle',
                rectangle: 'rectangle',
                circle: 'circle',
                square: 'square'
            },
            ready: function() {
                this.getPathwayList();
            },
            handleItemSelect: function(e) {
                console.log(this.loading);
                if (this.loading == false) {
                    for (var i = 0; i < this.pathwayList.length; i++) {
                        var pw = this.pathwayList[i];
                        pw.selected = false;
                    }
                    var item = e.model.item;

                    var path = 'items.' + e.model.index + '.selected';
                    this.set(path, !item.selected);

                    this.getPathway(item);
                }
            },
            handleGo: function() {
                this.retrieveData();
            },
            getPathwayList: function() {
                //                http://rest.kegg.jp/list/organism
                var me = this;

                this.loading = true;
                this.message = "Querying KEGG WS Server, please wait...";
                var url = 'http://rest.kegg.jp/list/pathway/hsa';

                var request = new XMLHttpRequest();
                request.onload = function() {
                    var lines = this.response.split("\n");
                    var line;
                    var pathwayList = [];
                    for (var i = 0; i < lines.length; i++) {
                        line = lines[i];
                        if (line !== "") {
                            var split0 = line.split("\t");
                            var split1 = split0[0].split(":");
                            var split2 = split0[1].split(" - ");
                            pathwayList.push({
                                name: split1[1],
                                text: split2[0],
                                selected: false
                            });
                        }
                    }
                    pathwayList.sort(function(a, b) {
                        return a.text.localeCompare(b.text);
                    });
                    me.set('pathwayList', pathwayList);
                    me.message = "Human pathways ready.";
                    me.loading = false;
                };
                request.open('GET', 'http://ws.babelomics.org/opencga/rest/util/proxy?url=' + url, true);
                request.send();
            },
            getPathway: function(pathway) {
                var me = this;
                console.log(pathway)

                this.loading = true;
                this.message = "Querying KEGG WS Server, please wait...";
                var url = 'http://rest.kegg.jp/get/' + pathway.name + '/kgml';

                var request = new XMLHttpRequest();
                request.onload = function() {
                    me._processPathwayResponse(this.response);
                    me.message = "Pathway loaded.";
                    me.loading = false;
                };
                request.open('GET', 'http://ws.babelomics.org/opencga/rest/util/proxy?url=' + url, true);
                request.send();

            },
            _processPathwayResponse: function(response) {
                var parser = new DOMParser();
                var doc = parser.parseFromString(response, "application/xml");
                console.log(doc);
                var entries = doc.querySelectorAll("entry");
                var relations = doc.querySelectorAll("relation");
                var reactions = doc.querySelectorAll("reaction");
                var graph = new JsoGraph();
                var map = {};
                for (var i = 0; i < entries.length; i++) {
                    var entry = entries[i];
                    // Remove entry[type=map];
                    var entryType = entry.getAttribute('type');
                    if (entryType !== 'map') {
                        var graphics = entry.querySelector("graphics");
                        var x = parseFloat(graphics.getAttribute("x"));
                        var y = parseFloat(graphics.getAttribute("y"));
                        var color = graphics.getAttribute("bgcolor");
                        var shape = graphics.getAttribute("type");
                        //                                var size = graphics.getAttribute("width");
                        var size = parseInt(graphics.getAttribute("height"));
                        if (size > 100) {
                            size = size / 2;
                        }
                        var id = entry.getAttribute("id");
                        var entryName = entry.getAttribute("name");
                        var name = '';
                        if (graphics.getAttribute("name") != null) {
                            name = graphics.getAttribute("name").split(",")[0];
                        } else {
                            //?? no name and no entry name ??
                        }
                        var rendererConfig = {
                            color: color,
                            shape: this.shapeConvert[shape],
                        };
                        if(!isNaN(size)){
                            rendererConfig[size] = size;
                        }
                        var vertex = new Vertex({
                            id: id,
                            position: new Point(x, y),
                            renderer: new CircosVertexRenderer(rendererConfig)
                        });
                        graph.addVertex(vertex);
                        map[id] = {
                            name: name,
                            entryName: entryName,
                            x: x,
                            y: y
                        };
                    }
                }
                for (var i = 0; i < relations.length; i++) {
                    var relation = relations[i];
                    var subtype = relation.querySelector("subtype");
                    var subtypeName = subtype.getAttribute('name');
                    var sourceId = relation.getAttribute("entry1");
                    var targetId = relation.getAttribute("entry2");
                    var type = relation.getAttribute("type");
                    var edgeId = sourceId + "_" + subtypeName + "_" + targetId;

                    /** create edge **/
                    var edge = new Edge({
                        id: edgeId,
                        relation: subtypeName,
                        source: graph.getVertexById(sourceId),
                        target: graph.getVertexById(targetId),
                        weight: 1,
                        directed: true
                    });
                    edge.attributes.type = type;
                    graph.addEdge(edge);
                }
                for (var i = 0; i < reactions.length; i++) {
                    var reaction = reactions[i];
                    var sourceId = reaction.querySelector("substrate").getAttribute("id");
                    var targetId = reaction.querySelector("product").getAttribute("id");
                    var type = "reaction"
                    var edgeId = sourceId + "_" + type + reaction.getAttribute("id") + "_" + targetId;

                    /** create edge **/
                    var edge = new Edge({
                        id: edgeId,
                        relation: type,
                        source: graph.getVertexById(sourceId),
                        target: graph.getVertexById(targetId)
                    });
                    graph.addEdge(edge);
                }
                this.fire('graph', {
                    graph: graph,
                    map: map
                });
            }
        });
    </script>
</dom-module>
