<dom-module id="jso-network-list-select">
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
        }

        .selbox {
            box-sizing: border-box;
            overflow-y: auto;
            border: 1px solid var(--hover-color);
        }

        .selitem {
            padding: 2px 5px;
        }

        .selitem[data-checked=true] {
            background-color: #ddd;
        }

        textarea {
            resize: none;
        }
    </style>
    <template>
        <div class="vertical layout">

            <form class="horizontal layout">
                <label class="jso-control">
                    <input type="radio" name="mode" value="nodes" on-change="handleRadio" checked>
                    <span>Network nodes</span>
                </label>
                <label class="jso-control">
                    <input type="radio" name="mode" value="selection" on-change="handleRadio">
                    <span>Network selection</span>
                </label>
            </form>

            <div class="horizontal layout center">
                <div>
                    <label class="jso" style="margin-top: 5px;">Select attribute:</label>

                    <jso-select-box style="height: 150px; width:200px;" id="columns" options="{{columns}}" on-select="handleBoxSelect">
                    </jso-select-box>

                </div>
                <div class="jso-btn jso-btn-shdw" style="margin:5px;" on-click="handleApply">
                    <i class="fa fa-arrow-right"></i>
                </div>
                <div style="margin-left: 3px;">
                    <label class="jso" style="margin-top: 5px;">List:</label>
                    <textarea id="textarea" class="jso" style="height:150px;width:200px;"></textarea>
                </div>
            </div>

        </div>
    </template>
    <script>
        Polymer({
            is: "jso-network-list-select",
            properties: {
                textAreaValue: {
                    type: String,
                    notify: true,
                    value: ''
                },
                columnSelected: {
                    type: Object
                },
                columns: {
                    type: Array
                },
                items: {
                    type: Array
                },
                selected: {
                    type: Array
                },
            },
            ready: function() {
                this.columnSelected = "id";
                this.selectNodes = "nodes";
            },
            handleRadio: function(e) {
                this.selectNodes = e.target.getAttribute("value");
            },
            handleBoxSelect: function(e) {
                this.columnSelected = e.detail;
            },
            //            handleNodesChange: function () {
            //                this.handleApply();
            //            },
            //            handleSelectionChange: function () {
            //                this.handleApply();
            //            },
            handleNodesList: function() {
                this.selectedMode = 'nodes';
                var value = '';
                for (var i = 0; i < this.items.length; i++) {
                    var attributes = this.items[i].attributes;
                    value += attributes[this.$.columns.selected.name] + '\n';
                }
                this.$.textarea.value = value.trim();

                this.textAreaValue = this.$.textarea.value;
            },
            handleSelectionList: function() {
                this.selectedMode = 'selection';
                var value = '';
                for (var i = 0; i < this.selected.length; i++) {
                    var attributes = this.selected[i].attributes;
                    value += attributes[this.$.columns.selected.name] + '\n';
                }
                this.$.textarea.value = value.trim();

                this.textAreaValue = this.$.textarea.value;
            },
            handleApply: function(e) {
                if (this.columnSelected !== "") {
                    if (this.selectNodes == "nodes") {
                        this.handleNodesList();
                    } else if (this.selectNodes == "selection") {
                        this.handleSelectionList();
                    }
                }
            }
        });
    </script>
</dom-module>
