<link rel="import" href="jso-cellbase-attribute-import-behavior.html">
<dom-module id="jso-cellbase-diseases-import">
    <style>
        :host {
            display: block;
            box-sizing: border-box;
            position: relative;
            width: 650px;
        }

        #main {
            width: 100%;
        }

        #left {
            width: 230px;
            margin: 5px;
        }

        #right {
            margin: 5px;
        }

        .box {
            box-sizing: border-box;
            overflow-y: auto;
            border: 1px solid var(--divider-color);
            background-color: #FFF;
        }

        #diseasesContent {
            height: 50px;
        }

        jso-select-box {
            overflow-y: auto;
            height: 150px;
        }

        .footer {
            padding: 4px 5px 4px 12px;
            border-top: 1px solid var(--divider-color);
            background-color: var(--light-secondary-color);
        }

        .footer > * {
            margin-left: 5px;
        }
    </style>
    <template>
        <div id="main" class="flex horizontal layout">

            <div id="left">
                <label class="jso">Species:</label>

                <jso-select-box id="species" options="{{species}}" name-attribute="id" title-attribute="_title">
                </jso-select-box>

                <label class="jso" style="margin-top: 10px;">Attributes:</label>

                <jso-select-box id="columns" options="{{columns}}">
                </jso-select-box>
            </div>

            <div id="right" class="flex vertical layout">
                <label class="jso">Diseases origin:</label>
                <div id="diseasesContent" class="box">
                    <template is="dom-repeat" items={{diseasesOrigin}}>
                        <label class="jso-control">
                            <input type="checkbox" checked$="{{item.selected}}" value="{{item.name}}" on-click="handleItemSelect">
                            <span>{{item.title}}</span>
                        </label>
                    </template>
                </div>
                <div hidden$="{{!showResult}}">
                    <br>
                    <label class="jso">Results:</label>
                    <br>
                    <div>
                        Results are available as node attributes, select 'Attributes' menu and then "Edit node attributes" to see the results.
                    </div>
                    <div>Use this button to show all drugs as a pie chart on each gene.</div>
                    <br>
                    <div class="horizontal layout center-justified">
                        <div class="jso-btn jso-btn-shdw" on-click="handleApplyMulticolor">Apply colors</div>
                    </div>
                </div>
                <div hidden$="{{showResult}}">
                    <div class="jso-note jso-note-info">
                        <b>Tip: </b> Please select an species an attribute as the gene name and one or more diseases origins, then press the "Go" button.
                    </div>
                </div>
            </div>

        </div>

        <div class="footer horizontal layout flex">
            <div class="jso-txt">
                <template is="dom-if" if="{{loading}}">
                    <i class="fa fa-spinner fa-spin" style="margin-right: 5px;"></i>
                </template>
                <span>{{message}}</span>
            </div>
            <div class="flex"></div>
            <div class="jso-btn jso-btn-shdw" style="width: 100px;" on-click="handleGo">Go</div>
        </div>

    </template>
</dom-module>
<script>
    Polymer({
        is: "jso-cellbase-diseases-import",
        behaviors: [JsoCellbaseAttributeImportBehavior],
        properties: {
            selectedList: {
                type: String,
                value: 'ext'
            },
            showResult: {
                type: Boolean,
                value: false
            },
            columns: {
                type: Array
            },
            items: {
                type: Array
            },
            diseasesOrigin: {
                type: Array,
                value: [{
                    title: 'Uniprot',
                    name: 'uniprotDiseases',
                    selected: true
                }, {
                    title: 'ClinVar',
                    name: 'clinVarDiseases',
                    selected: true
                }]
            }
        },
        checkSelectedList: function(selectedList, list) {
            return selectedList === list;
        },
        handleItemSelect: function(e) {
            var item = e.model.item;
            item.selected = !item.selected;
        },
        ready: function() {
            var me = this;

            this.async(function() {
                this.getSpecies(function(species) {
                    me.species = species;
                });
            }, 50);
        },
        handleGo: function() {
            if (this.loading == false) {
                if (this.$.columns.selected != null && this.$.species.selected != null) {
                    this.retrieveData(this.$.columns.selected.name, this.$.species.selected);
                } else {
                    this.message = "Please select one species and one attribute";
                }
            }
        },
        retrieveData: function(attributeName, species, callbackFunction) {
            var me = this;
            var columns = [];
            var resultMap = {};

            var options = {};
            var oneSelectedFlag = false;
            var els = diseasesContent.querySelectorAll('input[type=checkbox]');
            for (var i = 0; i < els.length; i++) {
                var cb = els[i];
                if (cb.checked) {
                    options[cb.value] = true;
                    oneSelectedFlag = true;
                } else {
                    options[cb.value] = false;
                }
            }
            if (!oneSelectedFlag) {
                this.message = "No diseases origin selected.";
                this.showResult = false;
                return;
            }

            var queries = [];
            for (var i = 0; i < this.items.length; i++) {
                var attributes = this.items[i].attributes;
                queries.push(attributes[attributeName]);
                resultMap[attributes[attributeName]] = [];
            }
            if (queries.length <= 0) {
                this.message = "Node list is empty.";
                this.showResult = false;
                return;
            }


            this.loading = true;
            this.message = "Retrieving data...";
            this.showResult = false;
            var callCount = 0;

            if (options.uniprotDiseases) {
                callCount++;
                this.getProteinInfo(options, queries, species, function(infoMap) {
                    me._processInfoMap(infoMap, resultMap, attributeName, columns);
                    callCount--;
                    me._finishRetrieveFunctionalInformation(columns, resultMap, attributeName, callCount, function() {
                        me.loading = false;
                        me.message = "Information has been saved as attributes";
                        me.showResult = true;

                        if (callbackFunction) {
                            callbackFunction();
                        }
                    });
                });
            }
            if (options.clinVarDiseases) {
                callCount++;
                this.getClinvarInfo(options, queries, species, function(infoMap) {
                    me._processInfoMap(infoMap, resultMap, attributeName, columns);
                    callCount--;
                    me._finishRetrieveFunctionalInformation(columns, resultMap, attributeName, callCount, function() {
                        me.loading = false;
                        me.message = "Information has been saved as attributes";
                        me.showResult = true;

                        if (callbackFunction) {
                            callbackFunction();
                        }
                    });
                });
            }
        },
        _processInfoMap: function(infoMap, resultMap, attributeName, columns) {
            for (var key in infoMap) {
                for (var query in infoMap[key]) {
                    resultMap[query] = resultMap[query].concat(infoMap[key][query]);
                }
            }
        },
        _finishRetrieveFunctionalInformation: function(columns, resultMap, attributeName, callCount, callback) {
            if (callCount === 0) {
                for (var i = 0; i < this.items.length; i++) {
                    var item = this.items[i];
                    var values = resultMap[item.attributes[attributeName]];
                    if (values != null && values.length > 0) {
                        item.attributes['diseases'] = values.join(',');
                    } else {
                        item.attributes['diseases'] = 'none';
                    }
                }
                columns.push({
                    name: 'diseases',
                    title: 'Diseases',
                    type: "text",
                    formula: function(r) {
                        return r.attributes[this.name];
                    }
                });
                if (columns.length > 0) {
                    this.fire('add-columns', columns);
                }
                if (callback) {
                    callback();
                }
            }
        },

        handleApplyMulticolor: function() {
            this.fire('apply-multicolor');
        }

    });
</script>
