<dom-module id="jso-form-box">
    <style is="custom-style" include="iron-flex iron-flex-reverse iron-flex-alignment iron-flex-factors iron-positioning">
        :host {
            display: inline-block;
            position: relative;
            box-sizing: border-box;
            width: 100%;
        }

        #form {
            border: 1px solid rgba(125, 125, 125, 0.4);
            margin: 0 5px 10px 0;
            background-color: var(--text-primary-color);
        }

        #header {
            padding: 5px 10px;
            font-size: 15px;
            background-color: var(--light-secondary-color);
            color: var(--secondary-text-color);
            cursor: pointer
        }

        #header:hover {
            font-weight: bold;
            color: var(--dark-button-color);
        }

        #container {
            padding: 8px 10px;
            border-top: 1px solid rgba(125, 125, 125, 0.3);
        }

        .collapsible {
            padding: 0 2px;
            cursor: pointer;
        }

        .collapsible > i {
          color: var(--secondary-text-color);
          font-size: 12px;
      }

      .collapsible >i:hover {
          font-weight: bold;
          color: var(--dark-button-color);
      }
    </style>
    <template>
        <div id="form">
            <div id="header" class="horizontal layout" on-click="handleCollapseAction">
                <div class="horizontal layout flex center">
                    <content select=".header"></content>
                </div>
                <div hidden$="{{!collapsible}}" class="collapsible">
                    <i class$="{{computeIcon(collapsible,collapsed)}}" title="{{computeTitle(collapsible,collapsed)}}"></i>
                </div>
            </div>
            <div id="container" class="horizontal layout" hidden$="{{isContainerHidden(collapsible, collapsed)}}">
                <content select=".container"></content>
            </div>
        </div>


    </template>

    <script>
        Polymer({
            is: "jso-form-box",
            properties: {
                collapsible: {
                    type: Boolean,
                    reflectToAttribute: true,
                    value: false
                },
                collapsed: {
                    type: Boolean,
                    reflectToAttribute: true,
                    value: false,
                },
            },
            ready: function() {},

            handleCollapseAction: function(e) {
                if (this.collapsible) {
                    this.collapsed = !this.collapsed;
                };
            },
            isContainerHidden: function(collapsible, collapsed) {
                if (collapsible && collapsed) {
                    return true;
                }
                return false;
            },
            computeIcon: function(collapsible, collapsed) {
                if (collapsible && collapsed) {
                    return "fa fa-plus";
                } else {
                    return "fa fa-minus";
                }
            },
            computeTitle: function(collapsible, collapsed) {
                if (collapsible && collapsed) {
                    return "Maximize";
                } else {
                    return "Minimize";
                }
            }

        })
    </script>
</dom-module>
